/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {
	font-size: 62.5;
}
body {
	@include fontSize(16px);
	font-family: $helvetica;
	word-break: break-word;
}
.page {
	 @include outer-container;
}